.sideBarContainer{
  display: flex;
  flex-direction: column;
    gap: 5rem;
    padding: 0.5rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 0.5rem;
}
.buttonLimpiar{
  margin-top: 20px;
    background-color: #4caf50;
    color: white;
    font-size: 1.1rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    }
    
    .buttonLimpiar:hover {
      background-color: #01f32944;
      box-shadow: 1 10px 25px rgba(0, 0, 0, 0.691);
    }